*, html, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    background: url("https://content.skyscnr.com/m/1b51182679225810/original/GettyImages-147444574_doc.jpg?resize=1800px:1800px&quality=100");
}

.form__div {
    margin: 150px auto 0 auto;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input{
    width: 250px;
    height: 50px;
    margin: 20px auto 0 auto;
    font-size: 18px;
    border-radius: 20%;
}

.btn{
    width: 150px;
    height: 50px;
    margin: 0 auto 30px auto;
    border-radius: 15px;
    box-shadow: 0 0 10px 10px #67eeff;
}