*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    position: fixed;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7Pu9eVP0jxMV3iuH0pHUENngHr2j07j-bHA&usqp=CAU");
    height: 80px;
    width: 100%;
    max-width: 1920px;
    justify-content: space-between;
}

.header__logo {
    width: 250px;
}

.header__logo2 {
    background: none;
}

.nav {
    position: relative;
    width: 40%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}

.link {
    text-decoration: none;
    color: greenyellow;
}

.banner {
    padding-top: 80px;
    height: 750px;
    display: flex;
    background:url("https://oboi.ws/filters/vibrance_17_11348_oboi_temno-sinij_fon_1920x1080.jpg");
}

.banner__logo {
    height: 950px;
    margin: 40px auto;
    padding: 10px;

}

.txt-banner {
    display: flex;
    height: 20px;
    width: 60%;
    margin: 30px 5px 25px 5px;
    font-size: 23px;
}

.course {
    height: 750px;
    display: flex;
}

.course {
    background: url("https://oboi.ws/filters/vibrance_17_11348_oboi_temno-sinij_fon_1920x1080.jpg");
    /*color: #666;*/
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    line-height: 1.5;
    font-weight: bold;
}

.all__courses{
    display: flex;
    margin: auto 60px;
}

.photo {
    width: 100%;
    padding: 30px;
    margin-top: 30px;
}

.photo img {
    border: 2px solid #8b8e4b;
    border-radius: 10%;
}
.photo p {
    margin: 30px;
}

.caption {
    text-align: center;
}

.txt-courses {
    display: flex;
    text-align: center;
}

.reviews {
    height: 750px;
    display: flex;
    background:url("https://oboi.ws/filters/vibrance_17_11348_oboi_temno-sinij_fon_1920x1080.jpg");

}

.all__rev{
    display: flex;
    margin: auto 60px;
}

.image img{
    display: inline-block;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow-x: scroll;
}

.had{
text-align: right;
}

.txt-review{
    display: flex;
    text-align: end;
    font-size: 20px;
    font-family: 'Poppins',sans-serif;
    line-height: 1.7;
}


.feedback {
    height: 750px;
    display: flex;
    background: #b878ff;
    position: relative;
    background: url("https://oboi.ws/filters/vibrance_17_11348_oboi_temno-sinij_fon_1920x1080.jpg");
}

.container {
    display: flex;
    text-align: center;
}

.img_feed{
    border-radius: 20%;
    padding: 55px 25px;
}

.feedback_wrapper{
    margin: 80px 100px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column ;
    justify-content: space-between;
}
.feedback_inp{
    width: 80%;
    height: 50px;
    margin: 0 auto 0 auto;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 20%;
}
.selection_drop{
    font-size: 18px;
    width: 60%;
    margin: 0 auto 0 auto;
    height: 40px;

}
.feedback_text{
    width: 90%;
    margin: 0 auto 0 auto;
    height: 200px;
    font-size: 22px;
    resize: none;
    border: 1px solid black;

}
.feedback_btn{
    width: 180px;
    height: 50px;
    font-size: 18px;
    margin: 0 auto 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px 10px white;
}


.foot{
    display: flex;
    background: url("https://w-dog.ru/wallpapers/15/14/455134042650255.jpg");
    height: auto;
    width: 100%;
    max-width: 1920px;
}

.pink {
    text-decoration: none;
    color: black;
}
.footer_map{
    margin-left: 50px;
    border: 1px;
    border-radius: 10%;
}
.footer_info{
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin-left: 270px;
}
.footer__info_wrapper{
    height: 70%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.phone_num{
    font-weight: bold;
    font-size: 18px;
}

.info_email_adr{
    font-weight: bold;
}
.copywrite{
    margin-top: 110px;
    font-weight: bold;

}
